* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

header {
    width: 100%;
    height: 100vh;
    background: url('img/header.jpg');
    background-position: center;
    background-size: cover;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}

.top-header .top-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header .top-header-right div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header .top-header-right div div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.top-header .top-header-right div {
    margin: 0 20px;
}

.top-header .top-header-right div span {
    color: rgb(0, 162, 255);
    font-size: 23px;
    cursor: pointer;
}

.top-header .top-header-right div span:hover {
    transform: scale(1.2);
}

.top-header .top-header-right div div h3 {
    color: #000;
    font-size: 17px;
    margin-bottom: 10px;
}

.top-header .top-header-right div div p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}

header .nav-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
}

header .nav-header .social span {
    color: rgb(0, 162, 255);
    margin: 0 5px;
    cursor: pointer;
}

header .nav-header .social span:hover {
    transform: scale(1.2);
}

header .nav-header ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

header .nav-header ul li {
    margin: 0 10px;
    border-bottom: 3px solid transparent;
}

header .nav-header ul li a {
    color: white;
    font-size: 14px;
    font-weight: 800;
}

header .nav-header ul li:hover {
    border-bottom: 3px solid rgb(0, 162, 255);
}

header .content-header {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    padding: 100px 50px 0;
}

header .content-header h1 {
    color: white;
    max-width: 200px;
}

header .content-header p {
    color: white;
    max-width: 700px;
    margin: 10px 0;
    line-height: 25px;
}

header .content-header a {
    color: white;
    margin: 0 10px;
    font-weight: 700;
    padding: 12px 15px;
    margin-top: 20px;
    display: inline-block;
}

header .content-header a:nth-child(1) {
    background: rgb(0, 255, 234);
}

header .content-header a:nth-child(2) {
    background: rgb(0, 81, 255);
}

header .content-header a:hover {
    background: white;
    color: blue;
}


.team {
    width: 100%;
    height: 100%;
    background: linear-gradient(to right bottom, rgb(166, 212, 255), #eee);
}

.team .content-team {
    padding: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.team .content-team h5 {
    color: #262626;
    margin-bottom: 10px;
    font-size: 19px;
}

.team .content-team h1 {
    color: rgb(0, 111, 155);
}

.team .content-team p {
    color: #363636;
    font-size: 14px;
    line-height: 20px;
    max-width: 600px;
    margin: 10px 0;
}


.dentists{
    width: 100%;
    height: 100%;
    background: #d3d3d3;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 100px;
}
.dentists .card{
    margin:  10px;
}
.dentists .card .card-text h3{
    color: white;
    font-size: 14px;
}
.dentists .card .card-text h1{
    color: white;
    font-size: 20px;
}
.dentists .card .card-text p{
    color: white;
    max-width: 200px;
    font-size: 14px;
    line-height: 15px;
}
.dentists .card .card-icons span{
    color: white;
    font-size: 14px;
    border: 1px solid rgba(255,255,255,0.7);
    padding: 5px;
    border-radius: 50%;
}
.dentists .card .card-img{
    background: #8d8d8d;
}
.dentists .card .card-text{
    background: rgb(0 95 105);
    padding: 20px;
}
.dentists .card .card-icons{
    background: rgb(0 95 105);
    padding: 20px;
    display: flex;
    justify-content: end;
}
.dentists .card .card-icons span{
 margin:0 5px;
 cursor: pointer;
}
.dentists .card .card-icons span:hover{
   background: white;
   color: rgb(0 95 105);
   border: 1px solid rgb(0 95 105);
}
.dentists .card .card-text h1{
    margin: 10px 0;
}
.dentists .card .card-img {
    display: flex;
    justify-content: center;
    align-items: center;
}
/* Responsive */
@media(max-width:1100px) {
    header .top-header .top-header-right div div h3 {
        font-size: 14px;
    }

    header .top-header .top-header-right div div p {
        font-size: 12px;
    }
}
@media(max-width:1260px){
    .dentists .card {
        width: calc(25% - 20px);
    }
}
@media(max-width:1000px){
    .dentists .card {
        width: calc(50% - 20px);
    }
}
@media(max-width:900px) {
    header .content-header p {
        max-width: 500px;
    }

    .top-header .top-header-right div {
        margin: 0 10px;
    }
}

@media(max-width:720px) {
    .top-header .top-header-left img {
        width: 50px;
    }
}

@media(max-width:650px) {
    .top-header .top-header-right div div {
        display: none;
    }

    .top-header .top-header-left img {
        width: 100px;
    }
}

@media(max-width:350px) {
    .top-header {
        flex-direction: column;
    }

    header .content-header h1 {
        font-size: 24px;
    }
}

@media(max-width:700px) {
    header .nav-header {
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    header .nav-header ul {
        margin: 20px 0;
    }
}

@media(max-width:510px) {
    header .nav-header ul li a {
        font-size: 12px;
    }
}

@media(max-width:460px) {
    header .nav-header ul li a {
        font-size: 10px;
    }
}

@media(max-width:420px) {
    header .nav-header ul {
        margin: 20px 0;
        display: block;
        text-align: center;
    }
}

@media(max-width:210px) {
    header .nav-header .social span {
        color: rgb(0, 162, 255);
        margin: 0 5px;
        cursor: pointer;
        font-size: 14px;
    }
}

@media(max-width:600px) {
    header .content-header {
        justify-content: center;
        align-items: center;
    }

    header .content-header h1 {
        color: white;
        max-width: 300px;
        text-align: center;
    }

    header .content-header p {
        text-align: center;
    }
}

@media(max-width:500px) {
    header .content-header p {
        font-size: 12px;
    }
}

@media(max-width:450px) {
    header .content-header a {
        display: block;
        text-align: center;
    }

    header .content-header {
        padding: 50px;
    }

    header {
        height: 100%;
    }
}

@media(max-width:260px) {
    header .content-header p {
        font-size: 10px;
    }

    header .content-header h1 {
        font-size: 20px;
    }

    header .content-header a {
        font-size: 12px;
    }
}

@media(max-width:240px) {
    header .content-header p {
        display: none;
    }

    header {
        height: 100vh;
    }
}

@media(max-width:860px) {
    .team .content-team h1 {
        font-size: 23px;
    }
}

@media(max-width:760px) {
    .team .content-team {
        flex-direction: column-reverse;
    }

    .team .content-team div {
        margin: 20px 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .team .content-team p {
        text-align: center;
    }

    .team .content-team h1 {
        text-align: center;
    }

    .team .content-team h5 {
        text-align: center;
    }
}

@media(max-width:400px) {
    .team .content-team p {
        font-size: 10px;
    }

    .team .content-team {
        padding: 50px;
    }
}

@media(max-width:310px) {
    .team .content-team div #doc {
        width: 200px;
    }
}

@media(max-width:260px) {
    .team .content-team p {
        font-size: 8px;
    }
}