* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
header {
    width: 100%;
    height: 100vh;
    background: url('img/header.jpg') ;
    background-position: center;
    background-size: cover;
}

.top-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    /* border-bottom: 1px solid rgba(255, 255, 255, 0.5); */
}

.top-header .top-header-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header .top-header-right div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-header .top-header-right div div {
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
}

.top-header .top-header-right div {
    margin: 0 20px;
}

.top-header .top-header-right div span {
    color: rgb(0, 162, 255);
    font-size: 23px;
    cursor: pointer;
}

.top-header .top-header-right div span:hover {
    transform: scale(1.2);
}

.top-header .top-header-right div div h3 {
    color: #000;
    font-size: 17px;
    margin-bottom: 10px;
}

.top-header .top-header-right div div p {
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
}
header .nav-header{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding: 20px;
}
header .nav-header .social span{
    color: rgb(0, 162, 255);
    margin: 0 5px;
    cursor: pointer;
}
header .nav-header .social span:hover{
   transform: scale(1.2);
}
header .nav-header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
header .nav-header ul li{
   margin: 0 10px;
   border-bottom: 3px solid transparent;
}
header .nav-header ul li a{
    color: white;
    font-size: 14px;
    font-weight: 800;
}
header .nav-header ul li:hover{
    border-bottom: 3px solid rgb(0, 162, 255);
}